.env
.git
node_modules
vendor
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache
public/hot
*.log
Dockerfile
docker/
.dockerignore
tests/
.github/
README.md
